<!DOCTYPE html>
<html>
<head>
  <title>Todosport</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "lib/require", "data-main" => asset_url("application.js") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <!--  i need to add a basic nav bar -->
      <li><a href="/#">Home</a></li>
      <li><a href="/#about">About</a></li>

      <% if user_signed_in? %>
      <% if current_user.picture.present? %>
      <li class="nav-link" id="user_profile">
        <%= image_tag current_user.picture.thumb.url  %>
      </li>
      <%else%>
      
      <% end %>
      <li>
        <%= link_to 'Edit', edit_user_registration_path %> <!-- user profile page -->
      </li>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path  %>  
      </li>
      <li>
        <%= link_to 'Register', new_user_registration_path  %>  
      </li>
      <% end %>
    </ul>
  </nav>
  <%if user_signed_in? %>
  <section></section> <!--- maybe inject the backbone.js into the nav insted-->
  <%end%>
  <main>

  </main>

  <%=yield%>
  <% if user_signed_in? %>
   <article></article> 
   <div></div>
  <%end%>
  <footer>
  </footer>
</body>
</html>
