<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :stop_time %><br>
    <%= f.text_field :stop_time %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br>
    <%= f.number_field :venue_id %>
  </div>
  <div class="field">
    <%= f.label :venue_url %><br>
    <%= f.text_field :venue_url %>
  </div>
  <div class="field">
    <%= f.label :venue_name %><br>
    <%= f.text_field :venue_name %>
  </div>
  <div class="field">
    <%= f.label :venue_display %><br>
    <%= f.text_field :venue_display %>
  </div>
  <div class="field">
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name %>
  </div>
  <div class="field">
    <%= f.label :region_name %><br>
    <%= f.text_field :region_name %>
  </div>
  <div class="field">
    <%= f.label :region_abbr %><br>
    <%= f.text_field :region_abbr %>
  </div>
  <div class="field">
    <%= f.label :country_name %><br>
    <%= f.text_field :country_name %>
  </div>
  <div class="field">
    <%= f.label :all_day %><br>
    <%= f.number_field :all_day %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :geocode_type %><br>
    <%= f.text_field :geocode_type %>
  </div>
  <div class="field">
    <%= f.label :trackback_count %><br>
    <%= f.number_field :trackback_count %>
  </div>
  <div class="field">
    <%= f.label :calendar_count %><br>
    <%= f.number_field :calendar_count %>
  </div>
  <div class="field">
    <%= f.label :comment_count %><br>
    <%= f.number_field :comment_count %>
  </div>
  <div class="field">
    <%= f.label :link_count %><br>
    <%= f.number_field :link_count %>
  </div>
  <div class="field">
    <%= f.label :created %><br>
    <%= f.text_field :created %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :modified %><br>
    <%= f.text_field :modified %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
